.btn-outline-primary {
    color: #C84B31 !important;    
    border-color: #C84B31 !important;
    border-width: 2px;
    font-weight: bold;
}

.btn-outline-primary:hover {
    color: #ECDBBA !important;
    background-color: #C84B31 !important;
    border-color: #C84B31 !important;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem #c84a317b !important;
    background-color: #C84B31 !important;
}