/* Color palette
  #191919 background
  #2D4263 header
  #C84B31 emphasis
  #ECDBBA text
  #FF1700 red
  #06FF00 green
*/

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  min-width: 850px;
  background-color: #191919 !important;
  overflow: visible;
}

